### Goal of the Analysis:
For each user_id, find the difference between the last action and the second last action. Action
here is defined as visiting a page. If the user has just one action, you can either remove her from
the final results or keep that user_id and have NULL as time difference between the two actions.
The table below shows for each user all the pages she visited and the corresponding
timestamp.

### Column Explanations:
- user_id: 6684 this is id of the user
- page: home_page the page visited
- unix_timestamp: 1451640067 unix timestamp in seconds

In [2]:
import pandas as pd
import pandasql
from pandasql import sqldf

In [3]:
pysqldf = lambda q: sqldf(q, globals())

In [4]:
# Read in data set
data = pd.read_csv('C:\\Users\\Florian\\Google Drive\\C FK\\SQL\\query_one.csv')
print data.user_id.nunique()

6295

In [14]:
q1 = """
select S.user_id,
       M.MAX - MAX(S.unix_timestamp) AS DIF
from data S
LEFT JOIN (SELECT user_id,
           MAX(unix_timestamp) AS MAX 
           From data GROUP BY USER_ID) M ON (S.USER_ID = M.USER_ID)
WHERE unix_timestamp <> M.MAX 
GROUP BY S.user_id, M.MAX 
ORDER BY S.user_id
;
"""
query_one = sqldf(q1,locals())
query_one.head(10)

   user_id  DIF
0        3    2
1        4    4
2       15    7
3       24    6
4       27    1
5       51    8
6       52    1
7       55    1
8       60    1
9       64    5